@import './../shared/variables';

.container {
    max-width: 50em;
    margin: auto;
    margin-top: 2em;
    border: 1px solid lighten($neutral, 70%);
}

header, main, footer {
    padding: 1em;
}

header {
    background-color: lighten($neutral, 75%);
}

nav {
    display: flex; 
    gap: 0.5em;
    text-align: center;
    margin-top: 0.5em;

    a {
        flex: 1 1 0;
    }
}

footer {
    background-color: lighten($neutral, 75%);
    text-align: center;
}