@import './../shared/variables';

main, aside {
    max-width: 32rem; 
    margin: auto;
}

main {
    background-color: $grey;
    padding: 1em 1.5em 1.5em;
    border: 1px solid darken($grey, 10%);
    margin-top: 5em;
}

aside {
    text-align: center;
    margin-top: 1em;

    a {
        color: $color;
    }
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: darken($grey, 50%);
}

