<main>
    <h1>{{ title }}</h1>

    <p class="text-lg">
        You searched for:
        <span class="capitalise primary-text bold">{{ name }}</span>.
    </p>

    <h2 class="border">Select name:</h2>
    <div class="flex">
        <a *ngFor="let name of names" [routerLink]="['/', name.value.toLowerCase()]">{{ name.value }} </a>
    </div>

    <ng-container *ngIf="getNameData() as data; else noResult">
        <div class="border result">
            <h2 class="primary-text">{{ data.value }}</h2>
            &middot;
            <p> "{{ data.meaning }}" </p>
            &middot;
            <p class="gray-text"> {{ data.gender === "F" ? "female" : "male"}} </p>
        </div>
    </ng-container>

   

    <ng-template #noResult>
        <p class="border">The name you searched for is not on file.</p>
    </ng-template>
</main>