<div class="password-input">
    <input
    (keyup)="updateValue(pass.value)"
    [type]="inputType"
    [name]="idAttr"
    [id]="idAttr"
    [autocomplete]="autoComplete"
    [value]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    #pass
    class="block w-full p-0 text-gray-900 border-0 outline-none focus:ring-0"
/>

    <button class="password-icon" (click)="togglePassword()">
        <pm-view-password-icon *ngIf="inputType === 'text'"></pm-view-password-icon>
        <pm-hide-password-icon *ngIf="inputType === 'password'"></pm-hide-password-icon>
    </button>
</div>
